<a href="https://colab.research.google.com/github/poojak-shetty/Capstone-1/blob/master/Datacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

As mentioned ,the dataset i have chosen is life expentancy from kaggle.Now we are doing the data cleaning process.Data cleaning means filtering and modifying your data such that it is easier to explore, understand, and model. Filtering out the parts you don't want or need so that you don't need to look at or process them.

## IMPORTING LIBRARIES

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler

## IMPORTING THE DATASET

We need to upload our dataset as a csv file by using read_csv

In [0]:
df=pd.read_csv("Life Expectancy Data.csv")

In [3]:
df.head()

       Country  Year  ... Income composition of resources  Schooling
0  Afghanistan  2015  ...                           0.479       10.1
1  Afghanistan  2014  ...                           0.476       10.0
2  Afghanistan  2013  ...                           0.470        9.9
3  Afghanistan  2012  ...                           0.463        9.8
4  Afghanistan  2011  ...                           0.454        9.5

[5 rows x 22 columns]

In [4]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

Checking if there are any missing values in the data set.

In [5]:
df.isnull().any()

Country                            False
Year                               False
Status                             False
Life expectancy                     True
Adult Mortality                     True
infant deaths                      False
Alcohol                             True
percentage expenditure             False
Hepatitis B                         True
Measles                            False
 BMI                                True
under-five deaths                  False
Polio                               True
Total expenditure                   True
Diphtheria                          True
 HIV/AIDS                          False
GDP                                 True
Population                          True
 thinness  1-19 years               True
 thinness 5-9 years                 True
Income composition of resources     True
Schooling                           True
dtype: bool

As few of the columns have null values we replace them by mean of each columns

In [0]:
df.fillna(df.mean(),inplace=True)

In [7]:
df.isnull().any()

Country                            False
Year                               False
Status                             False
Life expectancy                    False
Adult Mortality                    False
infant deaths                      False
Alcohol                            False
percentage expenditure             False
Hepatitis B                        False
Measles                            False
 BMI                               False
under-five deaths                  False
Polio                              False
Total expenditure                  False
Diphtheria                         False
 HIV/AIDS                          False
GDP                                False
Population                         False
 thinness  1-19 years              False
 thinness 5-9 years                False
Income composition of resources    False
Schooling                          False
dtype: bool

So now ,no columns have any null values

As seen by visualization we have two columns which have string values.So,first we need to check if they are necessary data.Otherwise we can drop them.Second,after keeping the necessary columns we need to replace those string values with numericals.From visualisation we see that status and country both are important factors to check life expectancy.But in the country column we have 193 countries which might have problems later.So,lets drop countries column.

## DATA PREPROCESSING

In [8]:
df["Status"].value_counts()

Developing    2426
Developed      512
Name: Status, dtype: int64

In [9]:
df["Status"] =df["Status"].astype("category").cat.codes
print(df["Status"])
#converts the 2 classes developing and developed to 1 and 0 (dont know on what basis)

0       1
1       1
2       1
3       1
4       1
       ..
2933    1
2934    1
2935    1
2936    1
2937    1
Name: Status, Length: 2938, dtype: int8

After using cat.codes ,it has assigned 1 for developing countries and 0 for developed countries.So,lets rename the column countries as "developing"

In [0]:
df=df.rename(columns={ "Status" : "Developing"})

In [11]:
df.head()

       Country  Year  ...  Income composition of resources  Schooling
0  Afghanistan  2015  ...                            0.479       10.1
1  Afghanistan  2014  ...                            0.476       10.0
2  Afghanistan  2013  ...                            0.470        9.9
3  Afghanistan  2012  ...                            0.463        9.8
4  Afghanistan  2011  ...                            0.454        9.5

[5 rows x 22 columns]

In [12]:
df["Developing"].value_counts()

1    2426
0     512
Name: Developing, dtype: int64



DROPPING COLUMN COUNTRIES

In [0]:
df1=df.drop(['Country'],axis=1)

In [14]:
df1.columns

Index(['Year', 'Developing', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [15]:
len(df1.columns)

21

After cleaning the train and test data set,we end up with 2 new data sets, which we will then convert to csv format and save, so that we can use them in the model training part of the project.

In [0]:
df2=df1

In [0]:
df1.to_csv("Train set.csv")
df2.to_csv("Test set.csv")